<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="apisaveone"  method="post"  enctype="multipart/form-data">
    <p>姓名: <input type="text" name="name" />&nbsp;&nbsp;&nbsp;&nbsp;必填</p>
    <p>性别: <input type="text" name="sex" />&nbsp;&nbsp;&nbsp;&nbsp;必填   填：  男  or  女</p>
    <p>属相: <input type="text" name="chinese_zodiac" /></p>
    <p>工作地: <input type="text" name="working_ground" />&nbsp;&nbsp;&nbsp;&nbsp;必填</p>
    <p>年龄: <input type="number" name="age" />&nbsp;&nbsp;&nbsp;&nbsp;必填 必须为纯数字</p>
    <p>身高cm: <input type="number" name="height" />&nbsp;&nbsp;&nbsp;&nbsp;必填  必须为纯数字</p>
    <p>学历: <input type="text" name="education" /></p>
    <p>体重kg: <input type="number" name="weight" /></p>
    <p>籍贯: <input type="text" name="native_place" /></p>
    <p>工作单位: <input type="text" name="working_company" /></p>
    <p>家庭成员: <input type="text" name="member_of_family" /></p>
    <p>联系方式: <input type="text" name="contact_way" /></p>
    <!--<p>自身条件备注: <input type="text" name="target" /></p>-->
    <p>自身条件备注: <textarea rows="3" cols="20" name="myselt_comment" > </textarea> </p>
    <p>择偶（身高 最小 cm）: <input type="number" name="half_height_little" /></p>
    <p>择偶（身高 最大 cm）: <input type="number" name="half_height_big" /></p>
    <p>择偶（年龄最小）: <input type="number" name="half_age_little" /></p>
    <p>择偶 （年龄最大）: <input type="number" name="half_age_big" /></p>
    <p>择偶要求条件备注: <textarea rows="3" cols="20" name="half_comment" > </textarea></p>

    <!--<p>合并节点.xlsx文件: <input type="file" name="file" /></p>-->
    <input type="submit" value="Submit" />
</form>

</body>
</html>